html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/*   @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Mukta:wght@200;300;400;500;600;700;800&display=swap'); */

.main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* background-image: url("https://gifdb.com/images/high/incredible-sound-wave-art-hxgh3rtf5v8vvh5i.gif"); */
    background-size: cover;
    filter: blur(8px);
    background-position-y: 50%;
    background-position-x: 50%;
}

.player {
    background-color: rgba(144, 12, 63, 0.5);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 350px;
    width: 400px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 2px 1px 3px 10px #535252;
}

.row1 {
    height: 40%;
    width: 100%;
    background-image: url("https://i.ytimg.com/vi/5HOBekpVx_M/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLAT_T4YN72JAOH3FCvBbQl3l0aOxw");
    background-size: cover;
    background-position-y: 37%;
}

#songTitle {
    height: 10%;
    width: 100%;
    text-align: center;
    font-family: monospace;
    font-size: 18px;
    color: rgb(17, 251, 255);
}

.row2 {
    height: 50%;
    width: 100%;
}

.play {
    height: 20%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

/* .play img {
    width: 50px;
} */

/* .mute img {
    width: 50px;
} */

#pre {
    height: 25px;
    width: 25px;
    background-size: cover;
    margin-top: 20px;
    margin-left: 25px;
}

#play {
    height: 35px;
    width: 35px;
    background-size: cover;
    margin-top: 20px;
}

#next {
    height: 25px;
    width: 25px;
    background-size: cover;
    margin-top: 20px;
    margin-right: 25px;
}

.seek-bar{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.handle{
    width: 80%;
    height: 5px;
    background: linear-gradient(to right, #4939b4 0%, #800000 100%);
    border-radius: 25px;
}

.fill{
    height: 7px;
    width: 2px;
    border-radius: 25px;
    background-color: rgb(0, 255, 170);
    z-index: 999;
    margin-top: -1.5px;
    margin-left: -1.5px;
}

.mute {
    height: 40%;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.currentTime{
    width: 50%;
    height: 100%;
    margin-left: 33px;
    margin-top: -44px;
    color: #00CED1;
}

.muteButtons{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:left;
    margin-left: 100px;
    margin-top: -80px;
}

#decrase{
    height: 25px;
    width: 25px;
    background-size: cover;
    margin: 5px;
}

#mute{
    height: 35px;
    width: 35px;
    background-size: cover;
    margin: 5px;
}

#increase{
    height: 25px;
    width: 25px;
    background-size: cover;
    margin: 5px;
}
